* {
  margin: 0;
  padding: 0;
  transition: all 1s;
  font-family: 'Muli', sans-serif;
}

body {
  filter: hue-rotate(3deg);
  overflow: hidden;
  background-image: url(../src/img/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#lateralContainer {
  background-image: linear-gradient(to left, white, darkgrey);
  box-shadow: 1px 0 70px grey;
  opacity: 0.9;
}

#lateralContainer:hover i.arrow {
  transform: scale(1.3);
}

.lateralItem {
  font-size: 2rem;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 4rem;
}

.lateralItem:hover {
  transform: scale(1.3);
}

.containerHome {
  box-shadow: 0px 0px 30px grey;
  border-radius: 20px;
}

h1 {
  color: white;
  text-shadow: 2px 2px 3px grey;
  font-family: 'Muli', sans-serif;
}

#gradient {
  height: 40px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(255,255,255,0), lightgrey);
  bottom: 0;
  z-index: 1001;
}

.imgList {
  transform: scale(2);
  transition: all 0.4s;
  cursor:pointer;
}

.imgList:hover {
  transform: scale(1);
  background-color: grey;
}

.imgListHover {
  background-color: lightgrey;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.9);

}

.imgListHover:hover {
  transform: scale(1.03);
  background-color: rgba(255,193,195, 0.5);
  box-shadow: 0 0 20px darkgrey;
}

.mdr:hover p {
  transform: scale(1.05) translateY(7px);
}

.lolgradient {
  background-image: linear-gradient(rgba(255, 255, 255, 0), grey);
}

.canvas {
  background-image: linear-gradient(white, lightgrey);
}

#save {
  position: absolute;
  transform: rotate(-5deg);
  right: -40px;
  top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background-color: #d3e6ff;
  border: 2px solid darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  cursor: pointer;
}

#save:hover {
  transform: scale(1.2);
  opacity: 0.7;
  box-shadow: 0 0 10px grey;
}


/* Let's get this party started */
.scrollpink::-webkit-scrollbar {
  opacity: 1;
}

/* Handle */
.scrollpink::-webkit-scrollbar-thumb {
  background: rgba(200,0,0,0.1); 
  opacity: 0.7;
}
/* Let's get this party started */
.scrollgreen::-webkit-scrollbar {
  opacity: 1;
}

/* Handle */
.scrollgreen::-webkit-scrollbar-thumb {
  background: rgba(0,200,0,0.1); 
  opacity: 0.6;
}
/* Let's get this party started */
.scrollblue::-webkit-scrollbar {
  opacity: 1;
}

/* Handle */
.scrollblue::-webkit-scrollbar-thumb {
  background: rgba(0,0,200,0.1); 
  opacity: 0.5;
}

